<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Staff - Delivery | Mr. Daebak Dinner</title>
    <link rel="stylesheet" th:href="@{/customer-main.css}">
</head>
<body>
<h1>Delivery</h1>
<a href="/staff/chef">Chef</a><br>
<a href="/staff/delivery">Delivery</a><br>
<a href="/staff/inventory">Inventory</a><br>
<table>
<!--    TODO: "배달대기", "배달중" 주문들을 보여준다 -->
</table>
<table>
<!--    TODO: "요리중" 주문을 보여준다 -->
</table>
<a href="/">Go to Index Page</a>
</body>
</html>