<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Staff</title>
    <link rel="stylesheet" th:href="@{/CSS/style.css}">
</head>
<body>
<h1>Staff Interface</h1>
<form action="/staff/login" method="post">
    PW: <input type="password" name="password"><br>
    <input type="submit" value="로그인">
</form>
<div th:if="${loginErrorMessage}">
    <p th:text="${loginErrorMessage}" style="color: red;"></p>
</div>
<a href="/">Go to Index Page</a>
</body>
</html>