<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Main | Mr. Daebak Dinner</title>
    <link rel="stylesheet" th:href="@{/style.css}">
</head>
<body>
<h1>Main Page</h1>
<div th:if="${loggedInCustomer}">
    ID: <span th:text="${loggedInCustomer.loginId}" style="color: blue;"></span><br>
    Hi <span th:text="${loggedInCustomer.name}" style="color: blue;"></span>!<br>
    User Information: <p th:text="${loggedInCustomer}"></p>
</div>
<a href="/customer/orders/new">주문하기</a><br>
<a href="/customer/orders/history">이전주문조회</a><br>
<a href="/customer/logout">로그아웃</a>
</body>
</html>