<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Sign Up | Mr. Daebak Dinner</title>
    <link rel="stylesheet" th:href="@{/CSS/style.css}">
</head>
<body>
<h1>Sign Up</h1>
<form action="/customer/signup" method="post">
    ID: <input type="text" name="loginId" placeholder="4 ~ 30글자"><br>
    PW: <input type="password" name="password" placeholder="최소 4글자"><br>
    Name: <input type="text" name="name" placeholder="최대 30글자"><br>
    Address: <input type="text" name="address"><br>
    Tel: <input type="tel" name="contact"><br>
    <input type="submit" value="Sign up!">
</form>
<div th:if="${signUpErrorMessage}">
    <p th:utext="${signUpErrorMessage}" style="color: red;"></p>
</div>
<a href="/customer">이전</a><br>
<a href="/">Go to Index Page</a>
</body>
</html>